<key>NSLocationWhenInUseUsageDescription</key>

<string>This is the plist item for NSLocationWhenInUseUsageDescription</string>

<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>

<string>This is the plist item for NSLocationAlwaysAndWhenInUseUsageDescription</string>

<key>NSLocationAlwaysUsageDescription</key>

<string>This is the plist item for NSLocationAlwaysUsageDescription</string>
Android